@import '../../styles/_theme.scss';

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 80%;
  }
}

@media (min-width: $screen-width-md) {
  .container {
    display: flex;
    align-items: center;
  }

  .content {
    width: $content-width-md;
  }
}