// COLORS
// shades of gray
$gray-lighter: #f8f8f8;
$gray-light: #d8d8d8;
$gray: #bebebe;
$gray-dark: #808080;
$gray-darker: #686868;

$primary-color: #340068;
$accent-color: #FF6978;

// BORDERS
$light-round: 4px;
$hard-round: 8px;
$extreme-round: 16px;

// RESPONSIVE WIDTHS
$content-width-sm: 100%;
$content-width-md: 750px;
$content-width-lg: 970px;
$content-width-xlg: 1170px;

// SCREEN WIDTHS
$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;
$screen-width-xlg: 1400px;

// FONT SIZES
$font-label: 14px;
$font-p: 16px;
$font-h2: 20px;
$font-h1: 24px;