@import '../../styles/_theme.scss';

.header {
  width: 100%;
  height: 40px;
  background-color: $accent-color;

  .header-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 16px;
    color: white;
    cursor: default;
    font-size: $font-h1;
  }
}